<h1>Hello World! from hello</h1>


<%= 1+2 %>

<% target = "world" %>
<%= "Hello again, #{target}" %>

<br />
<br />

<% @array.each do |n| %>
  <%= n %>
<% end %>

<br />
<%= link_to('Index pg', {:action => 'index'}) %> <br />

<br />
ID: <%= @id %><br>

<br />
<br />
<h2>hello.html.erb</h2>