<% @page_title = "Sections Index" %>
<div class="sections index">
  <h2>Sections</h2>

  <%= link_to("Add New Section", new_section_path, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Section</th>
      <th>Visible</th>

      <th>Actions</th>
    </tr>
    <% @sections.each do |sctn| %>
        <tr>
          <td><%= sctn.position %></td>
          <td><%= sctn.name %></td>
          <td class="center"><%= status_tag(sctn.visible) %></td>

          <td class="actions">
            <%= link_to("Show", section_path(sctn) , :class => 'action show') %>
            <%= link_to("Edit", edit_section_path(sctn), :class => 'action edit') %>
            <%= link_to("Delete", delete_section_path(sctn), :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
